@* ReSharper disable CommentTypo *@
@* ReSharper disable MarkupTextTypo *@

@{
    ViewData["Title"] = "Peter Stroopwafel";
}

<!-- Markt Grid Section -->
<section id="markt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Op de markt</h2>
                <hr class="star-primary shopping-bag">
            </div>
        </div>
        <div class="row col-lg-12 text-center">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-bs-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <h2>Den Haag</h2>
                        </div>
                    </div>
                    <img src="oud-hollandse-stroopwafelkar.jpg" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-bs-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <h2>Leiden</h2>
                        </div>
                    </div>
                    <img src="Smeren maar.jpg" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-bs-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <h2>Delft</h2>
                        </div>
                    </div>
                    <img src="stroopwafelkar-1.jpg" class="img-fluid" alt="">
                </a>
            </div>
        </div>
        <div class="row col-lg-12 text-center">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-bs-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <h2>Gouda</h2>
                        </div>
                    </div>
                    <img src="stroopwafelkar-2.jpg" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-bs-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <h2>Rotter&shy;dam</h2>
                        </div>
                    </div>
                    <img src="superwafel-super-stroopwafel.jpg" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-bs-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <h2>Amster&shy;dam</h2>
                        </div>
                    </div>
                    <img src="stroopwafelnagels.jpg" class="img-fluid" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="peter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="img-fluid img-centered rounded-circle" src="peter.jpg" alt="" style="max-width: 350px;" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Over Peter</h2>
                <hr class="star-light user">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <p>Peter staat al jaren op de Goudse markt met een stroopwafelkraam. Ik verkoop daar de lekkerste, meest ambachtelijke en meest Hollandse stroopwafels die je kunt vinden.</p>
            </div>
            <div class="col-lg-4">
                <p>Ik verkoop de echt lekkere, ambachtelijke, Hollandse stroopwafel. Mijn passie voor de stroopwafel proeft u ook in mijn service. Als u kiest voor een echt premium product, bent u bij mij aan het juiste adres!</p>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>

@section modals
{
    <!-- Portfolio Modals -->
    <div class="modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="modal-body text-center">
                                <h2>Den Haag</h2>
                                <hr class="star-primary shopping-bag">
                                <img src="oud-hollandse-stroopwafelkar.jpg" class="img-fluid img-centered" alt="">
                                <p>Elke woensdag kun je me vinden op de Haagse Markt tussen 9:30 en 17:00.</p>
                                <p>De markt ligt in het zuidelijk deel van Stadsdeel Centrum tussen de wijken Schilderswijk en Transvaal. De markt wordt begrensd door de straten: Herman Costerstraat, Heemstraat, Hobbemaplein en Hoflandplein. De Haagse Markt is van alle kanten te bereiken met de tram of bus. </p>
                                <dl class="list-inline item-details">
                                    <dt><i class="fa fa-map-marker" aria-hidden="true"></i> Locatie</dt>
                                    <dd>Herman Costerstraat</dd>
                                    <dt>OV: Hobbemaplein</dt>
                                    <dd>tram 6, 11, 12 en bus 25</dd>
                                    <dt>OV: Hoefkade</dt>
                                    <dd>tram 11, 12 en bus 127, 130</dd>
                                </dl>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="fa fa-times"></i> Sluiten</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="modal-body text-center">
                                <h2>Leiden</h2>
                                <hr class="star-primary shopping-bag">
                                <img src="Smeren maar.jpg" class="img-fluid img-centered" alt="">
                                <p>Elke zaterdag kun je me vinden op de kade van de Botermarkt tussen 9:00 en 17:00.</p>
                                <p>Groente, vis, fruit, bloemen, kleding, delicatessen uit alle windstreken… Je kunt het zo gek niet bedenken of je vindt het op de Leidse markt. De markt geeft Leiden als winkelstad een extra dimensie. Op woensdag en zaterdag vind je op de kades van de Botermarkt, Vismarkt, Aalmarkt en Nieuwe Rijn een uitgebreide warenmarkt. Aanbod te over, je bent van harte welkom!</p>
                                <dl class="list-inline item-details">
                                    <dt><i class="fa fa-map-marker" aria-hidden="true"></i> Locatie</dt>
                                    <dd>Botermarkt</dd>
                                    <dt>OV: Steenstraat</dt>
                                    <dd>bus 182</dd>
                                    <dt>OV: Breestraat</dt>
                                    <dd>bus 400</dd>
                                </dl>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="fa fa-times"></i> Sluiten</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="modal-body text-center">
                                <h2>Delft</h2>
                                <hr class="star-primary shopping-bag">
                                <img src="stroopwafelkar-1.jpg" class="img-fluid img-centered" alt="">
                                <p>Elke zaterdag kun je me vinden op het plein de Markt tussen 9:00 en 17:00.</p>
                                <p>Donderdag is de marktdag van Delft. Ingeklemd tussen het stadhuis en de Nieuwe Kerk vormen zo’n 150 kramen de Delftse warenmarkt. Het plein heet heel toepasselijk ook ‘Markt’. U kunt hier kaas, vis, groenten, brood, noten en veel ander lekkers kopen. Tussen alle versproducten vindt u ook verrassende koopjes, zoals kleding, fietsaccessoires en elektronische gadgets. De omringende horeca en terrassen bieden volop mogelijkheden om de koopjesjacht te onderbreken voor een kopje koffie.</p>
                                <dl class="list-inline item-details">
                                    <dt><i class="fa fa-map-marker" aria-hidden="true"></i> Locatie</dt>
                                    <dd>de Markt</dd>
                                    <dt>OV: Prinsenhof</dt>
                                    <dd>tram 1, bus 51</dd>
                                    <dt>OV: Zuidpoort</dt>
                                    <dd>bus 64</dd>
                                </dl>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="fa fa-times"></i> Sluiten</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="modal-body text-center">
                                <h2>Gouda</h2>
                                <hr class="star-primary shopping-bag">
                                <img src="stroopwafelkar-2.jpg" class="img-fluid img-centered" alt="">
                                <p>Elke dinsdag kun je me vinden bij winkelcentrum Bloemendaal tussen 8:30 – 13:00.</p>
                                <p>De markt Bloemendaal is elke dinsdag van 8:30 – 13:00 bij het winkelcentrum Bloemendaal op het parkeerplein Gildenburg.</p>
                                <dl class="list-inline item-details">
                                    <dt><i class="fa fa-map-marker" aria-hidden="true"></i> Locatie</dt>
                                    <dd>de Markt</dd>
                                    <dt>OV: Gildenburg</dt>
                                    <dd>bus 1, 4</dd>
                                    <dt>OV: Winkelcentrum Bloemendaal</dt>
                                    <dd>bus 726</dd>
                                </dl>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="fa fa-times"></i> Sluiten</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="modal-body text-center">
                                <h2>Rotterdam</h2>
                                <hr class="star-primary shopping-bag">
                                <img src="superwafel-super-stroopwafel.jpg" class="img-fluid img-centered" alt="">
                                <p>Elke vrijdag kun je me vinden in de Markthal tussen 10:00 – 21:00.</p>
                                <p>Naast je dagelijkse boodschappen, kun je in de Markthal ook al je niet alledaagse boodschappen doen. Met 96 unieke kramen en 20 winkel- en horecagelegenheden vind je hier het meest gevarieerde foodaanbod van Nederland. Ontdek het zelf; alles wat van vers komt, is goed.</p>
                                <dl class="list-inline item-details">
                                    <dt><i class="fa fa-map-marker" aria-hidden="true"></i> Locatie</dt>
                                    <dd>Markthal</dd>
                                    <dt>OV: Blaak</dt>
                                    <dd>trein, metro A, B, C, bus 32, 47, tram 21, 24</dd>
                                </dl>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="fa fa-times"></i> Sluiten</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="modal-body text-center">
                                <h2>Amsterdam</h2>
                                <hr class="star-primary shopping-bag">
                                <img src="stroopwafelnagels.jpg" class="img-fluid img-centered" alt="">
                                <p>Elke zondag kun je me vinden in de Westergasfabriek tussen 11:00 – 18:00.</p>
                                <p>De NeighbourFood Market verzamelt het beste & lekkerste eten uit alle windstreken. Ter plekke voor je bereid. Binnen + buiten. Een zondag vol gezelligheid, goed eten & struinen door 2e hands curiosa.</p>
                                <dl class="list-inline item-details">
                                    <dt><i class="fa fa-map-marker" aria-hidden="true"></i> Locatie</dt>
                                    <dd>Werstergasfabriek</dd>
                                    <dt>OV: Van Hallstraat</dt>
                                    <dd>bus 21</dd>
                                    <dt>OV: Van Limburg Stirumplein</dt>
                                    <dd>tram 10</dd>
                                </dl>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="fa fa-times"></i> Sluiten</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@* ReSharper restore CommentTypo *@
@* ReSharper restore MarkupTextTypo *@
